In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading https://files.pythonhosted.org/packages/5d/e0/5877fa1901a981162e82479373a023282afc7f8659e6121de6b9305669e4/mysql_connector_python-8.0.25-cp37-cp37m-win_amd64.whl (793kB)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\varun\anacond\lib\site-packages (from mysql-connector-python) (3.14.0)
Requirement already satisfied: six>=1.9 in c:\users\varun\anacond\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.12.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.25

In [92]:
import mysql.connector 
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root"
)

In [93]:
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x00000229D29B90B8>

In [78]:
mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor: 
  print(x)

('analysis',)
('classicmodels',)
('college',)
('hr',)
('information_schema',)
('mydb',)
('mysql',)
('performance_schema',)
('practicedb',)
('sys',)
('world',)

In [95]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root",
  database="classicmodels"
)

In [96]:
mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('checklists',)
('customers',)
('employees',)
('employees1',)
('offices',)
('orderdetails',)
('orders',)
('parts',)
('payments',)
('productlines',)
('products',)
('tasks',)
('test1',)
('test2',)
('test3',)
('zerofill_tests',)

In [88]:
mycursor.execute("SELECT lastname, firstname, jobtitle FROM employees")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Murphy', 'Diane', 'President')
('Hill', 'Mary', 'VP Sales')
('Firrelli', 'Jeff', 'VP Marketing')
('Patterson', 'William', 'Sales Manager (APAC)')
('Bondur', 'Gerard', 'Sale Manager (EMEA)')
('Bow', 'Anthony', 'Sales Manager (NA)')
('Jennings', 'Leslie', 'Sales Rep')
('Thompson', 'Leslie', 'Sales Rep')
('Firrelli', 'Julie', 'Sales Rep')
('Patterson', 'Steve', 'Sales Rep')
('Tseng', 'Foon Yue', 'Sales Rep')
('Vanauf', 'George', 'Sales Rep')
('Bondur', 'Loui', 'Sales Rep')
('Hernandez', 'Gerard', 'Sales Rep')
('Castillo', 'Pamela', 'Sales Rep')
('Bott', 'Larry', 'Sales Rep')
('Jones', 'Barry', 'Sales Rep')
('Fixter', 'Andy', 'Sales Rep')
('Marsh', 'Peter', 'Sales Rep')
('King', 'Tom', 'Sales Rep')
('Nishi', 'Mami', 'Sales Rep')
('Kato', 'Yoshimi', 'Sales Rep')
('Gerard', 'Martin', 'Sales Rep')

('Murphy',)

In [89]:
mycursor.execute("SELECT jobtitle FROM employees")

myresult1 = mycursor.fetchall()

for x in myresult1:
  print(x)

('President',)
('VP Sales',)
('VP Marketing',)
('Sales Manager (APAC)',)
('Sale Manager (EMEA)',)
('Sales Manager (NA)',)
('Sales Rep',)
('Sales Rep',)
('Sales Rep',)
('Sales Rep',)
('Sales Rep',)
('Sales Rep',)
('Sales Rep',)
('Sales Rep',)
('Sales Rep',)
('Sales Rep',)
('Sales Rep',)
('Sales Rep',)
('Sales Rep',)
('Sales Rep',)
('Sales Rep',)
('Sales Rep',)
('Sales Rep',)

In [90]:
mycursor.execute("SELECT contactLastname,contactFirstname FROM customers ORDER BY contactLastname DESC, contactFirstname ASC")
myresult2 = mycursor.fetchall()

for x in myresult2:
  print(x)

('Young', 'Dorothy')
('Young', 'Jeff')
('Young', 'Julie')
('Young', 'Mary')
('Yoshido', 'Juri')
('Walker', 'Brydey')
('Victorino', 'Wendy')
('Urs', 'Braun')
('Tseng', 'Jerry')
('Tonini', 'Daniel ')
('Thompson', 'Steve')
('Thompson', 'Valarie')
('Taylor', 'Leslie')
('Taylor', 'Sue')
('Tamuri', 'Yoshi ')
('Suominen', 'Kalle')
('Sommer', 'Martín ')
('Snowden', 'Tony')
('Smith', 'Thomas ')
('Shimamura', 'Akiko')
('Semenov', 'Alexander ')
('Schuyler', 'Bradley')
('Schmitt', 'Carine ')
('Saveley', 'Mary ')
('Salazar', 'Rosa')
('Saavedra', 'Eduardo ')
('Rovelli', 'Giovanni ')
('Roulet', 'Annette ')
('Roel', 'José Pedro ')
('Rodriguez', 'Lino ')
('Ricotti', 'Franco')
('Rancé', 'Martine ')
('Pipps', 'Georg ')
('Piestrzeniewicz', 'Zbyszek ')
('Pfalzheim', 'Henriette ')
('Petersen', 'Jytte ')
('Perrier', 'Dominique')
('Ottlieb', 'Sven ')
('Oeztan', 'Veysel')
("O'Hara", 'Anna')
('Nelson', 'Allen')
('Nelson', 'Susan')
('Natividad', 'Eric')
('Müller', 'Rita ')
('Murphy', 'Julie')
('Murphy', 'Leslie')
('Moroni', 'Maurizio ')
('Moos', 'Hanna ')
('Messner', 'Renate ')
('Mendel', 'Roland ')
('McRoy', 'Sarah')
('McKenna', 'Patricia ')
('MacKinlay', 'Wales')
('Lincoln', 'Elizabeth ')
('Lewis', 'Dan')
('Leong', 'Kelvin')
('Lee', 'Kwai')
('Lebihan', 'Laurence ')
('Larsson', 'Martha')
('Labrune', 'Janine ')
('Kuger', 'Armand')
('Koskitalo', 'Pirkko')
('Kloss', 'Horst ')
('Klaeboe', 'Jan')
('King', 'Jean')
('King', 'Julie')
('Kentary', 'Mory')
('Keitel', 'Roland')
('Karttunen', 'Matti')
('Josephs', 'Karin')
('Ibsen', 'Palle')
('Huxley', 'Adrian')
('Huang', 'Wing')
('Holz', 'Mihael')
('Hernandez', 'Maria')
('Hernandez', 'Marta')
('Henriot', 'Paul ')
('Hashimoto', 'Juri')
('Harrison', 'Ed')
('Graham', 'Mike')
('Gao', 'Mike')
('Frick', 'Michael')
('Frick', 'Steve')
('Frick', 'Sue')
('Freyre', 'Diego ')
('Fresnière', 'Jean ')
('Franken', 'Peter ')
('Franco', 'Keith')
('Franco', 'Valarie')
('Feuer', 'Alexander ')
('Fernandez', 'Jesus')
('Ferguson', 'Peter')
('Donnermeyer', 'Michael')
('Dewey', 'Catherine ')
('Devon', 'Elizabeth')
('de Castro', 'Isabel ')
('Da Silva', 'Daniel')
('Cruz', 'Arnold')
('Cramer', 'Philip ')
('Clenahan', 'Sean')
('Citeaux', 'Frédérique ')
('Choi', 'Yu')
('Chandler', 'Brian')
('Cervantes', 'Francisca')
('Cassidy', 'Dean')
('Cartrain', 'Pascale ')
('Camino', 'Alejandra ')
('Calaghan', 'Ben')
('Brown', 'Ann ')
('Brown', 'Julie')
('Brown', 'William')
('Bertrand', 'Marie')
('Bergulfsen', 'Jonas ')
('Berglund', 'Christina ')
('Bennett', 'Helen ')
('Benitez', 'Violeta')
('Barajas', 'Miguel')
('Ashworth', 'Rachel')
('Anton', 'Carmen')
('Andersen', 'Mel')
('Altagar,G M', 'Raanan')
('Accorti', 'Paolo ')

In [100]:
df = pd.read_sql('SELECT * FROM customers', con=mydb) 
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customerNumber          122 non-null    int64
 1   customerName            122 non-null    object
 2   contactLastName         122 non-null    object
 3   contactFirstName        122 non-null    object
 4   phone                   122 non-null    object
 5   addressLine1            122 non-null    object
 6   addressLine2            22 non-null     object
 7   city                    122 non-null    object
 8   state                   49 non-null     object
 9   postalCode              115 non-null    object
 10  country                 122 non-null    object
 11  salesRepEmployeeNumber  100 non-null    float64
 12  creditLimit             122 non-null    float64
dtypes: float64(2), int64(1), object(10)
memory usage: 12.5+ KB